### Transactions

In [1]:
df1 = pd.read_csv('data/Azuki_BAYC_MAYC_Otherdeed_Moonbirds.csv')
df1 = df1[df1.__confirmed == True]

feats = [
    'timestamp',
    'exchange_name',
    'contract_version',
    
    'usd_price',
    'eth_price',
    'royalty_fee',
    'platform_fee',
    
    'collection_name',
    'token_id',
    
    'transaction_hash',
    'seller_address',
    'buyer_address',
    'is_multi_token_sale',
    'multi_token_sale_index',
]
df_trnx = df1[feats]

# features cleaning
df_trnx['timestamp'] = pd.to_datetime(df_trnx.timestamp)#.str[:10])
df_trnx['day']   = pd.to_datetime(df_trnx['timestamp'].astype(str).str[:10])
df_trnx['month'] = pd.to_datetime(df_trnx['timestamp'].astype(str).str[:7])
df_trnx['quarter'] = df_trnx['timestamp'].astype(str).str[:4] + 'Q' + pd.to_datetime(df_trnx['timestamp']).dt.quarter.astype(str)
df_trnx['year'] = df_trnx['timestamp'].astype(str).str[:4]
df_trnx['year_month'] = df_trnx.month.dt.year*100 + df_trnx.month.dt.month

feats0 = ['seller_address', 'buyer_address']
for f in feats0:
    df_trnx[f] = df_trnx[f].str.lower()

df_trnx['transaction_hash'] = df_trnx.transaction_hash.map(lambda x: f'<a href="https://etherscan.io/tx/{x}">url</a>')
df_trnx['trnx_len'] = df_trnx.groupby('transaction_hash')['token_id'].transform(len)

df_trnx.to_pickle('data/df_trnx.pkl')
print(df_trnx.shape)
df_trnx[:3]

(345518, 20)

,timestamp,exchange_name,contract_version,usd_price,eth_price,royalty_fee,platform_fee,collection_name,token_id,transaction_hash,seller_address,buyer_address,is_multi_token_sale,multi_token_sale_index,day,month,quarter,year,year_month,trnx_len
0,2023-03-23 11:15:23+00:00,opensea,seaport,"21,696.37",12.37,0.06,0.00,MutantApeYachtClub,10972,"<a href=""https://etherscan.io/tx/0x5f438f5b5dd...",0x0097b9cfe64455eed479292671a1121f502bc954,0xdf04f866d8e581982b442b613f8b77655425e545,False,0,2023-03-23,2023-03-01,2023Q1,2023,202303,1
1,2023-03-23 11:03:35+00:00,blur,v1,"21,129.12",12.06,0.06,0.00,MutantApeYachtClub,12974,"<a href=""https://etherscan.io/tx/0x92af5b4a0c8...",0x5e1416e0ec35b47a6b7687c5e783e9b98a83dd45,0x4c092f3597a5c81bcbc6746ed598c58a890d26ff,False,0,2023-03-23,2023-03-01,2023Q1,2023,202303,3
2,2023-03-23 11:03:35+00:00,blur,v1,"21,111.60",12.05,0.06,0.00,MutantApeYachtClub,15768,"<a href=""https://etherscan.io/tx/0x92af5b4a0c8...",0x5e1416e0ec35b47a6b7687c5e783e9b98a83dd45,0x7476a30f99109803dc289850412131dfba8e754d,False,0,2023-03-23,2023-03-01,2023Q1,2023,202303,3

In [2]:
# view transactions
f1 = df_trnx.collection_name == 'BoredApeYachtClub'
f2 = df_trnx.token_id == 9991

display(HTML(df_trnx[f1&f2].sort_values('timestamp')[:].to_html(render_links=True, escape=False)))

### NFT metadata

In [3]:
# collection_name + token_id - unique NFT identifier
feats = [
    'collection_name', 
    'token_id',
    'image_url',
    'flattened_properties',
    'minted_timestamp',    
    'last_refreshed', 
]
# cleaning
df_nft = df1.groupby(feats)['eth_price'].agg([len,sum]).reset_index().rename(columns = {'len':'trnx_cnt','sum':'trnx_sum'})

df_nft['minted_timestamp'] = pd.to_datetime(df_nft.minted_timestamp.astype(str).str[:10])
df_nft['last_refreshed'] = pd.to_datetime(df_nft.last_refreshed.astype(str).str[:10])

df_nft['flattened_properties'] = df_nft.flattened_properties.map(eval)

df_nft['image_url'] = df_nft.image_url.map(lambda x: f'<img style="max-height:80px;" src="{x}">')

df_nft.to_pickle('data/df_nft.pkl')
print(df_nft.shape)
df_nft[:3]

(83470, 8)

,collection_name,token_id,image_url,flattened_properties,minted_timestamp,last_refreshed,trnx_cnt,trnx_sum
0,Azuki,44,"<img style=""max-height:80px;"" src=""https://ikz...","{'Eyes': 'Determined', 'Hair': 'Blonde Flowy',...",2022-01-12,2023-02-03,9,127.25
1,Azuki,53,"<img style=""max-height:80px;"" src=""https://ikz...","{'Eyes': 'Determined', 'Face': 'Blue Sunglasse...",2022-01-12,2023-02-02,3,34.06
2,Azuki,58,"<img style=""max-height:80px;"" src=""https://ikz...","{'Eyes': 'Tired', 'Hair': 'Green Fluffy', 'Typ...",2022-01-12,2023-02-02,3,44.89

In [4]:
# collect the dictionary of flattened NFT collection tables
dict_nft = dict()

for c in df_nft.collection_name.unique():
    df3 = df_nft[df_nft.collection_name == c].reset_index()
    del df3['index']
    df4 = pd.DataFrame(list(df3.flattened_properties))
    df4 = pd.concat([df3, df4], axis = 1)
    del df4['flattened_properties']
    df4 = df4.sort_values('trnx_cnt', ascending = False)
    dict_nft[c] = df4
      
    print('------------')
    print(df4.shape)
    # print(df4.isnull().sum())
    display(HTML(df4[:2].to_html(render_links=True, escape=False)))

------------
(9166, 19)

------------
(8915, 14)

------------
(6673, 15)

------------
(13905, 15)

------------
(44811, 24)